<mat-card class="strain-card">
  <mat-card-title>Purchase</mat-card-title>
  <mat-card-content>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <mat-form-field>
        <mat-select placeholder="Vendor" name="buyer" ngModel>
          <mat-option *ngFor="let vendor of vendors" [value]="vendor.UID">
            {{vendor.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Strain" name="strain" ngModel>
          <mat-option *ngFor="let strain of strains" [value]="strain.UID">
            {{strain.name}} <span style="float:right">({{strain.inventory}} grams)</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" name="product_amount" placeholder="# Grams" ngModel>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" name="payment" placeholder="$" ngModel>
      </mat-form-field>
      <p>
        <mat-checkbox matInput name="front" ngModel>Front</mat-checkbox>
      </p>
      <p>
        <button mat-raised-button type="submit" class="card-submit">Submit</button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
